<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI5" />
            <remove name="PHP_via_FastCGI4" />
            <remove name="PHP_via_FastCGI3" />
            <remove name="PHP_via_FastCGI2" />
            <remove name="PHP_via_FastCGI1" />
            <remove name="PHP53_via_FastCGI" />
            <remove name="PHP_via_FastCGI" />
        </handlers>
    </system.webServer>
</configuration>
