@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

#contact {
  padding-right: 10%;
  padding-left: 10%;
}

form input {
  border: 1px solid #ddd;
  height: 52px;
  padding: 0 15px;
  font-size: 16px;
  flex: 1;
  width: 100%;
}

.title-contact {
  text-align: center;
}

.title {
  color: #264d90;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.buttonForm {
  text-align: center;
}

button.btn-contact {
  border: 0;
  border-radius: 2px;
  width: 20%;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
  background: #264d90;
  color: #fff;
  cursor: pointer;
}
